.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#content {
  margin-top: 110px;
}

.cta {
  color: #000000;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  text-decoration: underline;
  display: block;
}