body {
  margin: 0;
  font-family: "Raleway", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: .05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", "Times New Roman", serif;
}

/* h4, h5, h6 {
  text-decoration: underline #945afd;
} */

a {
  color: #945afd
}

p {
  font-size: 1.3em !important;
}