#Intro-row {
    height: calc(100vh - 100px);
    background: url("../assets/images/fragments.svg") no-repeat center center; 
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.typewriter p {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 340px }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ffffff; }
  }