.single-proj-container {
    /* color: #ffffff;
    background: #945afd; */
    padding: 3vh 3vw 3vh 3vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.single-proj-desc {
    text-align: left;
}

.single-proj-img {
    width: 15vw;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 3px 3px 8px #5c1503;
    margin-top: 1.95rem;
}

.material-icons {
    color: #5c1503;
}

.material-icons.transparent {
    color: transparent;
}

.arrow-container {
    display: flex;
    width: 100%;
}
.nav-arrow{
    height: 100%;
    width: 84px;
    flex-grow: 1;
}